# Server Environments
NODE_ENV=development

# JWT Authentication
JWT_SECRET=dam_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# PostgreSQL Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dam_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/dam_db?schema=public

# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ Settings
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# MinIO S3 Settings
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_CONSOLE_PORT=9001
MINIO_RAW_BUCKET=raw-assets
MINIO_PROCESSED_BUCKET=processed-assets

# Nginx & Frontend Ports
FRONTEND_PORT=3000
API_PORT=5000
FRONTEND_URLS=http://localhost:3000,http://localhost:8080,http://127.0.0.1:3000,http://127.0.0.1:8080
VITE_PROXY_TARGET=http://localhost:8080

# Logger Microservice Settings
QUEUE_LOGGER=dam_system_logger
LOG_DIR=Error-Logs

# Worker Settings
WORKER_CONCURRENCY=2

