# Server Environment
NODE_ENV=development

# RabbitMQ Message Broker Configuration
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Logger Service Queue & Log Directory Settings
QUEUE_LOGGER=dam_system_logger
LOG_DIR=Error-Logs
